@font-face {
	font-family: 'museosans';
	src: url('../fonts/museosans.ttf');
}

html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	touch-action: none;
}

div, canvas, img {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

* {
	font-family: 'museosans';
}

body {
	background-color: #efebe9;
}

#canvas {
	width: 100%;
	height: 100%;
}

#cards-texture {
	display: none;	
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 48px;
	/*background: black;*/
}

#status {
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'museosans';
	font-variant: small-caps;
	font-size: 14px;
}

#icon-connection {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin: 2px;
}

#status.connected { color: #32b53e; }
#status.connected #icon-connection { display: initial; background-color: #32b53e; }
#status.disconnected { color: #b53232; }
#status.disconnected #icon-connection { display: initial; background-color: #b53232; }

#cards-selected-menu {
	position: fixed;
	top: 8px;
	left: 0px;
	width: 100%;
}

#action-buttons {
	display: flex;
	justify-content: center;
}

#action-buttons .button {
	box-sizing: border-box;
	width: 96px;
	margin: 0px 4px 0px 4px;
	font-size: 16px;
	display: none; /* do not show actions by default */
}

#cards-selected-text {
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	line-height: 40px;
}

.splash {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #efebe9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.splash .button {
	width: 256px;
	margin-top: 8px;
}

.splash .description {
	line-height: 48px;
	text-align: center;
}

.splash .errorbox {
	line-height: 48px;
	color: red;
}

#splash-room-create, #splash-room-join {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#splash-room-create {
	/*background-color: #009900;*/
}

#splash-room-join {
	/*background-color: #995500;*/
}

#splash-room input {
	text-transform: uppercase;
}

#splash-room input::placeholder {
	text-transform: initial;
	font-variant: small-caps;
}

input {
	outline: none;
	width: 256px;
	height: 48px;
	padding: 0px 8px 0px 8px;
	font-size: 14px;
	text-align: center;
	border: 0;
}

.button {
	padding: 0px 8px 0px 8px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #263238;
	color: white;
	cursor: pointer;
	/*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);*/
}
